main {
  width: 70%;
  margin: auto;
  text-align: center;
}

body {background-color: #203647}

 main button {
  margin-top: 20px;
  background-color: #007CC7;
  color: #ffffff;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  outline: none;
}

main button:hover {
  background-color: #007CC7;
}

.Zoom{
  margin:10px;
}

#zmmtg-root{
  margin-top:85px !important;
  display : none ;
  height : 0px;
  width : 0px;
  position : relative;
  background-color : black;
  z-index :1;
}

.meeting-client, .meeting-client-inner{
  margin-top:85px;
  height:95%;
}

.participant-container{
  padding:5px;
}

div.ui.column.grid{
  margin:5px !important;
  min-width: 55vw;
  min-height: 40vw;
  border:1px solid black;
  background-color: #3F3F3F;
}

.column{
  border: 1px solid black;
  padding:5px !important;
  background-color: #707070;
}

.container{width: 100% !important;}

.PreviewFooter{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height:20%;
  display: block;
  background:#FFDF6C;
  border: 1px solid black;
  padding:5px;
}

.PreviewFooterContents{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1vw;
}

.ParticipantContainer{
  width: 30%;
  border:1px solid black;
  float: right;
  height:auto;
  margin: 5px;
  min-height:40vw;
  background-color:#707070;
}
.Participants {
  border:1px solid black;
  margin:5px;
  padding:5px;
  overflow-y: scroll;
  height:80%;
  background-color: #3F3F3F;
  font-size: 1vw;
  
}

.Header{
  background-color: lightgray;
  border: 1px solid black;
  padding: 5px;
  margin:5px;
  height:3vw;
  overflow:hidden;
  display:block;
}

.SearchBar {
  padding:5px;
}

#root > div > div > header > div.left > button{
  width:10vw;
  height:2.5vw;
  font-size: 0.7vw;
}
.Footer{
  clear: both;
  bottom:0;
  text-align: center;
  vertical-align: middle;
  background-color: lightgray;
  width: 100%;
  padding:5px; 
}

.right{
  float:right;
}
.center{
  float:right;
  margin-right: 45%;
}
.center h1{
  font-size: 1.5vw;
}
.left{
  float:left;
}

.blackborder{border:1px solid black}

.central {
  margin: auto;
  width: 25%;
  padding: 10px;
}

.participant-container {
  background-color: #FFDF6C;
  border-color: darkgrey;
  border-style: solid;
  border-width: 1px;
  min-height: 40px;
  max-height: 90px;
  width: 100%;
  display: flex;
 
}

.participant{
  
  overflow: hidden; 
  width: 90%;
  display: flex;
  justify-content: space-between;
}



.edit-form{
  display: flex;
  flex-direction: column;
  width: auto;
}

